<h1>Welcome to Sphero!</h1>

<%= form_tag '/sphero_control/set_color' do %>
  <%= select_tag 'color', options_from_collection_for_select(SpheroColors.all_colors, "rgb_value", "color") %>
  <%= submit_tag %>
<% end %>

<p></p>
<p></p>
<p></p>
<p></p>

<%= form_tag({:action => :set_color_via_wav_file}, :multipart => true) do %>
    <%= file_field_tag 'command' %>
    <%= submit_tag %>
<% end %>

